{{!-- this is standard HTML template. The HTML on this page will be used for all
of the other handlebars files. They will 'inject' their HTML into the part 
of the tamplate with {{body}} --}}

<!doctype html>
<html>

<head>
    <title>Covid Travel</title>
</head>

<body>

    <header>
      <img src="/images/sample.png" alt="A lovely logo">
   </header>

    {{{body}}}


    <footer> &copy; Una L'Estrange </footer>
</body>

</html>
